.landing-page {
  background-color: green;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info-card {
  width: 500px;
}
.info-card2 {
  width: 550px;
}
img {
  width: 70%;
}
.get-strt-btn {
  display: flex;
  justify-content: center;
}
.piggy {
  width: 40%;
}
.about-blurb {
  width: 650px;
}
.about {
  display: flex;
  flex-direction: row;
}
.ex-graph {
  width: 45%;
}
.expense-pic {
  width: 60%;
}

.info-card {
  flex: 0 0 50%;
}

.ex-graph {
  flex: 0 0 40%;
}

.info-card2 {
  flex: 0 0 50%;
}

.piggy {
  max-width: 40%;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .ex-graph,
  .expense-pic,
  .piggy {
    max-width: 100%;
  }

  .info-card2 {
    margin-top: 2rem;
  }
}
