.landing-page {
  background-color: green;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info-card {
  width: 500px;
}
.info-card2 {
  width: 550px;
}
img {
  width: 60%;
}
.get-strt-btn {
  display: flex;
  justify-content: center;
}
.piggy {
  width: 40%;
}
.about-blurb {
  width: 650px;
}
.about {
  display: flex;
  flex-direction: row;
}
.ex-graph {
  width: 45%;
}
.expense-pic {
  width: 60%;
}
