.stocks{
    width: 300px
}

.coin{
    width: 600px;
}

.next-btn{
    position: absolute; /* Position the button absolutely within the parent div */
    top: 50%; /* Vertically center the button */
    right: 20px; /* Adjust the right position as needed */
    transform: translateY(-50%);
}