.landing-page {
  background-color: green;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.info-card {
  padding: 12px;
}
img {
  width: 75%;
}
.get-strt-btn {
  display: flex;
  justify-content: center;
}
.piggy {
  width: 25%;
}
.about-blurb {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  flex-direction: row;
}
