.money-jar{
    width: 350px;
}

.text{
    font-weight: normal;
}

.next-btn{
    position: absolute; /* Position the button absolutely within the parent div */
    top: 50%; /* Vertically center the button */
    right: 20px; /* Adjust the right position as needed */
    transform: translateY(-50%);
}