.menu {
  width: 50px;
  height: 50px;
  float: left;
}
.menu-toggle-btn {
  display: flex;
  justify-content: flex-start;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logout-btn {
  display: flex;
  justify-content: flex-end;
}
.home-container {
  display: flex;
  flex-direction: row;
}
.app-title {
  display: flex;
  justify-content: flex-end;
}

.budget-stuff {
  display: flex;
  flex-direction: row;
}
.clipboard {
  width: 55%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.img-container {
  max-width: 50%;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .img-container {
    max-width: 100%;
  }
}
